# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/

## conventional commit related files
node_modules/ 
.husky/
commitlint.config.js
package-lock.json
package.json

